$primary: #1c3354;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@300;400;500&display=swap');

* {    
    font-family: 'Rokkitt', serif;
    font-weight: 400;
}
.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin-right: 0 !important;
}
.header {
    display: table;
    font-size: 3vw;
    height: 20%;
    color: white;
    background-color: $primary;
    border-bottom: 10px solid lightblue;
    justify-content: center;
    align-items: center;
}
.logoimg {
    display: inline-block;
    max-width: 20%;
    max-height: 20%;
}
h1 {
    color: $primary;
    padding-top: 5%;
}
.body {
    font-size: 22px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
.icon{
    padding:1vh;
    height: fit-content;
    font-size: 18px;
}
.contact-info{
    padding: 10px;
}
.contact{
    padding-top: 1vh;
    margin-bottom: 50px;
    margin-top: 50px;
}